._17elqkn0{box-sizing:border-box;font-family:Inter,Roboto,Arial;text-rendering:optimizeSpeed;color:#fff;background-color:#191919;min-height:100vh;margin:0;display:flex;justify-content:center;align-items:center}
